.switchWrapper {
    display: flex;
    text-align: center;
    height: 36px;
    cursor: pointer;
    margin: 0;
}

.commonBtnStyles {
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #366eff;
    color: #ffffff;
    border-radius: 2px;
}
