.avatarWrapper {
    display: flex;
    height: 32px;
    width: 32px;
    margin-left: -31px;
    cursor: pointer;
}
.linkText {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #366eff;
    border-bottom: 1px solid #366eff;
}
