.questionItem {
    margin-bottom: 24px;
    text-align: left;
}
.boldText {
    font-weight: 600;
}
.topTextWrapper {
    margin-bottom: 13px;
}
.secondText {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    margin-top: 14px;
}
.answerItem {
    text-align: left;
    margin-bottom: 24px;
}
.textWrapper {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 12px;
}
.imgWrapper {
    height: 119px;
    img {
        width: 100%;
        height: 100%;
    }
}
.inputWrapper {
    margin-bottom: 42px;
    cursor: pointer;
}
