.btn{
  position: relative;
  width: 100%;
  padding: 8px 0;
  background-color: #21268F;
  color: #ECECF9;
  box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border: none;
}

.disabled{
  background-color: #D7D8EF;
  color: #21268F;
  box-shadow: none;
}