.packListWrapper{
  display: flex;
  flex-direction: column;
  width: 1008px;
  min-height: 636px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px 48px;
  box-sizing: border-box;
}

.titlePackWrapper{
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 15px
}