.contentWrapper{
  display: flex;
}
.buttonWrapper {
  width: 175px;
}

.filtersWrapper {
  align-items: center;
}

.searchItem {
  margin-right: 24px;
  margin-bottom: 24px;

  &:before img {

  }
}

.switchWrapper {
  text-align: left;
  margin-right: 48px;
}

.inputWrapper {
  padding-left: 40px;
  font-size: 14px;
  width: 413px;
  min-height: 36px;
  color: #2D2E46;
  background: #FFFFFF;
  border-radius: 2px;
  outline: none;
  border: 1px solid #D9D9D9;
}



