.contentWrapper {
    display: flex;
    margin-bottom: 24px;
}

.searchItem {
    flex-basis: 60%;
    margin-right: 24px;
}

.switchItem {
    flex-basis: 20%;
    text-align: left;
    margin-right: 48px;
}

.rangeItemWrapper {
    flex-basis: 20%;
    margin-right: 20px;
}

.rangeItem {

    margin-top: 15px;
}
.textItem {
    display: flex;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}
