.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalActive {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  width: 395px;
  height: 233px;
  background-color: #F9F9FE;
  padding: 15px 24px;
  transform: scale(0.5);
  transition: 0.4s all;
  z-index: 2;
}

.modalContentActive {
  transform: scale(1);
}

.popupWrapper {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 28px;
  color: #2D2E46;
  text-align: left;
  border-bottom: 1px solid #EDF0F6;
}

.btn {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.btnLeft {
  flex-basis: 50%;
  margin-right: 18px;
}

.btnRight {
  flex-basis: 50%;
  margin-left: 18px;
}
