.commonWrapper {
    align-items: flex-start;
}
.mainWrapper {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.backPackList {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.avatarItemWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 17px;
}
.nickNameItemWrapper {
    margin-bottom: 14px;
}
.emailWrapper {
    margin-bottom: 29px;
}

.imgWrapper {
    height: 16px;
    width: 16px;
    margin-right: 7px;
}
.photoWrapper {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    overflow: hidden;
}
.avatarWrapper {
    height: 100%;
    width: 100%;
}
.btnWrapper {
    display: flex;
    justify-content: space-between;
}
.logoutBtn {
    flex-basis: 50%;
    margin-right: 18px;
}
.saveBtn {
    flex-basis: 50%;
    margin-left: 18px;
}
