.packListPageWrapper {
  padding-top: 40px;
  align-items: flex-start;
}

.packTopWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.titleWrapper {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.paginatorWrapper {
  display: flex;
  align-items: baseline;
}
