.wrapper {
  display: flex;
  max-width: 1008px;
  min-height: 636px;
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
}

.settingsWrapper {
  flex-basis: 20%;
  text-align: left;
  background: #ECECF9;
  padding: 24px 33px;
  border-radius: 8px 0 0 8px;
}

.mainPackWrapper {
  flex-basis: 80%;
  padding: 24px 48px;
}
