.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalActive {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    width: 395px;

    background-color: #f9f9fe;
    padding: 15px 24px;
    transition: 0.4s all;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.modalContentActive {
    transform: scale(1);
}

.popupWrapper {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    color: #000000;
    text-align: left;
}

.popupWrapper::after {
    display: block;
    content: '';
    border-bottom: 1px solid #edf0f6;
    margin-top: 15px;
    margin-right: -24px;
    margin-left: -24px;
}
.selectTextWrapper {
    margin-bottom: 8px;
    color: #000000;
    opacity: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btnLeft {
    flex-basis: 50%;
    margin-right: 48px;
}

.btnRight {
    flex-basis: 50%;
    margin-left: 48px;
}
