.wrapper {
}
.topWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.imgWrapper {
    height: 119px;
}
.imgWrapper {
    img {
        height: 100%;
        width: 100%;
    }
}
