.inputWrapper {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid #000000;
    border-radius: 2px;
    font-size: 16px;
    transition: all 0.3s;
}

.checkbox {
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.active {
    width: 18px;
    height: 18px;
    border: 1px solid #366eff;
    background: #366eff;
    &::before {
        position: absolute;
        content: '';
        top: 40%;
        left: 0;
        width: 4px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        transform: translate(80%, -50%) rotate(45deg);
    }
}
