.inputWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #ECECF9;
  font-size: 16px;
  transition: all 0.3s;
}

.checkbox {
  margin: 0;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.active {
  &::before {
    position: absolute;
    content: "";
    top: 40%;
    left: 0;
    width: 5px;
    height: 10px;
    border: solid #21268F;
    border-width: 0 3px 3px 0;
    transform: translate(80%, -50%) rotate(45deg);
  }
}