.paginationWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 24px;

}

.paginationList {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.selectedPaginationItem {
  color: #ffffff;
  background-color: #21268F;
  border-radius: 2px;
}

.paginationItem {
  padding: 4px 4px;
  list-style: none;
  cursor: pointer;
  font-size: 12px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  text-decoration: none;
  line-height: 14.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover:not(.selectedPaginationItem) {
    background-color: #F8F7FD;
    border-radius: 2px;
  }
}

.lastPage {
  list-style: none;
  cursor: pointer;
}

.btn {
  display: flex;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #2D2E46;
  background-color: #FEFEFF;
  outline: none;
}

.btnLeft {

}

.btnRight {

}
